{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["**/*.pug"],
      "options": {
        "parser": "pug",
        "singleQuote": false
      }
    }
  ]
}