| {% extends 'base.html' %}
| {% block styles%}
style.
    thead th, tbody td {
        padding: 10px;
        text-align: center;
    }
    tr{
        border-bottom: 1px solid #EEE;
    }
    tr:hover {
        background: #F5F5F5
    }
| {% endblock %}
| {% block  title%} {{project.name}} - details{% endblock%}
| {% block main %}
.m-auto.mb-5(class='mt-[100px] max-w-[80%]')
    form(method='post' action='/ui/project/delete' onsubmit="if(!confirm('Are you sure?')){return false;}")
        input(type='hidden' name='project_id' value='{{ project.id }}')
        button(type='submit') Delete
    a(href='/ui/project/{{project.id}}/update')
        button Edit
    h1.text-3xl.font-semibold.text-center.mb-5(class='md:text-5xl') {{project.name}}
    h2.text-2xl.font-semibold.mb-2(class='md:text-4xl')
        | Project details:
    p.mb-5
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Curabitur rutrum dapibus lorem quis hendrerit. Fusce eu sapien
        | at lacus facilisis tincidunt eu ut quam. Ut quis lectus quis
        | tortor vehicula fermentum vitae id nibh. Class aptent taciti
        | sociosqu ad litora torquent per conubia nostra, per inceptos
        | himenaeos. Sed vel tortor eget eros pulvinar blandit.
    p
        pre.mb-5
            code(style = "display:inline;" class="python") {{project_url}}
            span(class="hidden md:inline") &rArr;
            span(class="block md:hidden my-5 ms-3") &dArr;
            code(style = "display:inline" class="python") {{project.api_base}} 
    h2.text-2xl.font-semibold.mb-2(class='md:text-4xl')
        | Usage example
    p.mb-5
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Curabitur rutrum dapibus lorem quis hendrerit. Fusce eu sapien
        | at lacus facilisis tincidunt eu ut quam. Ut quis lectus quis
        | tortor vehicula fermentum vitae id nibh. Class aptent taciti
        | sociosqu ad litora torquent per conubia nostra, per inceptos
        | himenaeos. Sed vel tortor eget eros pulvinar blandit.
    h4.text-xl.font-semibold.mb-2(class='md:text-2xl')
        | Using openai library
    pre
        code.python.
            import openai        
            openai.api_key = os.environ["OPENAI_API_KEY"]
            openai.api_base = "{{project_url}}"
            openai.ChatCompletion.create(
                model="gpt-3.5-turbo",
                messages=[{"role": "user", "content": "Generate poem made of 2 sentences."}],
            )
    h4.text-xl.font-semibold.mb-2.mt-3(class='md:text-2xl') Using langchain library
    pre
        code.python. 
            from langchain.llms import OpenAI
            llm = OpenAI(
                model_name="text-davinci-003",
                openai_api_base="{{project_url}}",
            )
            llm("Explaining the meaning of life in one sentence")

    h4.text-xl.font-semibold.mb-2.mt-3(class='md:text-2xl') LLM Transactions
    .overflow-x-auto.p-3
        table.table-auto.rounded-md.shadow-lg.w-full
            thead.rounded-md(class='bg-[#EEE] text-[#565656]')
                tr.rounded-md
                    th Timestamp
                    th Request url
                    th Prompt
                    th Response
                    th Model
                    th Content Type
                    th Response status
                    th Usage
                    th More
            tbody
                | {% if transactions %}
                | {% for t in transactions %}
                tr
                    td {{t.timestamp}}
                    td {{t.request.url}}
                    td
                        | {% if 'messages' in t.request.content %}
                        | {% for m in t.request.content.messages %}
                        p(title='{{m.role}}') {{m.content}}
                        | {% endfor %}
                        | {% else %}
                        | {% for p in t.request.content.prompt %}
                        p(title='prompt_{{loop.index}}') {{p}}
                        | {% endfor %}
                        | {% endif %}
                    td
                        | {% for c in t.response.content.choices %}
                        | {% if 'message' in c %}
                        p(title='{{c.message.role}}') {{c.message.content}}
                        | {% else %}
                        p(title='response_{{c.index}}') {{c.text}}
                        | {% endif %}
                        | {% endfor %}
                    td {{t.response.content.model}}
                    td {{t.response.headers['content-type']}}
                    td {{t.response.status_code}}
                    td
                        | {{t.response.content.usage.prompt_tokens}} + {{t.response.content.usage.completion_tokens}}
                    td
                        a(href='/ui/project/{{project.id}}/transaction/{{t.id}}') Details
                | {% endfor %}
                | {% else %}
                tr
                    td.p-5(colspan='8')  No data 
                | {% endif %}
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js')
script.
    hljs.highlightAll();
| {% endblock %}
