.project
    height: 100%
    overflow-y: auto
    background: #eef4fa
    padding: 20px 40px
    display: flex
    flex-direction: column
    gap: 50px
    h1
        font-size: 2.5em
        line-height: 1.6em
    h2
        font-size: 1.3em
        line-height: 1.3em
    .box
        display: flex
        flex-direction: column
        gap: 5px
        &> .header
            padding: 0px 20px
            font-weight: 600
            width: 100%
        &> .content
            padding: 20px
            flex-grow: 1
            background: #FFF
            box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.1)
            border-radius: 15px
    & > *
        width: min(1400px, 100%)
        margin: 0 auto                    
    .details
        &__header
            display: flex
            flex-direction: row
            justify-content: space-between
            .buttons
                display: flex
                flex-direction: row
                gap: 10px
                *
                    margin: auto
                    padding: 5px 20px
                    flex: 1 1 0%
        .description
            width: 100%
            min-height: 60px
            .content
                margin: 0
                padding: 5px 5px 15px
                overflow-y: auto
                font-size: 1em
        &__content
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 15px
            width: 100%
            .basicInfo
                flex: 0 0 300px
                &> .content
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    gap: 10px
                .element
                    width: 100%
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    font-weight: bold
                    &:last-child
                        margin-bottom: 0                       
            .aiProviders
                flex: 1
                min-width: 400px
                max-width: 100%
                &> .content
                    padding: 20px 10px
                    max-height: 160px
                    width: 100%
                    display: block
                    overflow-x: auto
                    table
                        width: 100%
                        min-width: max-content
                        thead 
                            th
                                padding-left: 15px
                                text-align: start
                                width: auto
                        tbody 
                            tr
                                width: 100%
                                &:hover
                                    background: hsl(223, 0%, 90%)
                                td
                                    padding: 5px 0 0 15px
                                    &:first-child
                                        border-radius: 15px 0 0 15px
                                    &:last-child
                                        border-radius: 0 15px 15px 0
    .tableWrapper
        .header
            display: flex 
            // justify-content: space-between
            gap: 15px
            h2
                margin-top: 4px