{% extends "base.html" %} 
{% block title%} Dashboard {% endblock %}
{% block style %}
    <style>
        #error {
            color: red;
        }
        #success {
            color: green;
        }
    </style>
{% endblock %}
{% block main %}
<div class="flex flex-col">
    <div class="m-auto mt-[100px] max-w-[80%]">
        {% if error %}
            <h1 id="error">{{error}}</h1>
        {% endif %}
        
        {% if success %}
            <h1 id="success">{{success}}</h1>
        {% endif %}
        <h1 class="text-3xl md:text-5xl font-semibold text-center mb-5">
            Dashboard
        </h1>
        <p class="text-center mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            rutrum dapibus lorem quis hendrerit. Fusce eu sapien at lacus
            facilisis tincidunt eu ut quam. Ut quis lectus quis tortor vehicula
            fermentum vitae id nibh. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Sed vel tortor
            eget eros pulvinar blandit.
        </p>
        <h2 class="text-2xl md:text-4xl text-center font-semibold">Projects</h2>
        <div class="grid grid-cols-1 p-5 gap-3 md:grid-cols-2">
            <a
                href="/ui/project"
                class="p-5 border-2 rounded-md border-[#DBDBDB] text-center hover:bg-[#EEE]"
            >
                <span><b>Add new project</b></span>
            </a>
            {% for project in projects %}
            <a
                href="/ui/project/{{project.id}}"
                class="p-5 border-2 rounded-md border-[#DBDBDB] text-center hover:bg-[#EEE]"
            >
                <span>{{project.name}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
