
{% extends 'base.html' %}
{% block styles%}
<style>
  thead th, tbody td {
      padding: 10px;
      text-align: center;
  }
  tr{
      border-bottom: 1px solid #EEE;
  }
  tr:hover {
      background: #F5F5F5
  }
</style>{% endblock %}
{% block  title%} {{project.name}} - details{% endblock%}
{% block main %}
<div class="m-auto mb-5 mt-[100px] max-w-[80%]">
  <form method="post" action="/ui/project/delete" onsubmit="if(!confirm('Are you sure?')){return false;}">
    <input type="hidden" name="project_id" value="{{ project.id }}"/>
    <button type="submit">Delete</button>
  </form><a href="/ui/project/{{project.id}}/update">
    <button>Edit</button></a>
  <h1 class="text-3xl font-semibold text-center mb-5 md:text-5xl">{{project.name}}</h1>
  <h2 class="text-2xl font-semibold mb-2 md:text-4xl">Project details:</h2>
  <p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur rutrum dapibus lorem quis hendrerit. Fusce eu sapien
    at lacus facilisis tincidunt eu ut quam. Ut quis lectus quis
    tortor vehicula fermentum vitae id nibh. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Sed vel tortor eget eros pulvinar blandit.
  </p>
  <p>
    <pre class="mb-5"><code class="python" style="display:inline;">{{project_url}}</code><span class="hidden md:inline">&rArr;</span><span class="block md:hidden my-5 ms-3">&dArr;</span><code class="python" style="display:inline">{{project.api_base}} </code></pre>
  </p>
  <h2 class="text-2xl font-semibold mb-2 md:text-4xl">Usage example</h2>
  <p class="mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur rutrum dapibus lorem quis hendrerit. Fusce eu sapien
    at lacus facilisis tincidunt eu ut quam. Ut quis lectus quis
    tortor vehicula fermentum vitae id nibh. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Sed vel tortor eget eros pulvinar blandit.
  </p>
  <h4 class="text-xl font-semibold mb-2 md:text-2xl">Using openai library</h4>
  <pre><code class="python">import openai        
openai.api_key = os.environ["OPENAI_API_KEY"]
openai.api_base = "{{project_url}}"
openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[{"role": "user", "content": "Generate poem made of 2 sentences."}],
)</code></pre>
  <h4 class="text-xl font-semibold mb-2 mt-3 md:text-2xl">Using langchain library</h4>
  <pre><code class="python">from langchain.llms import OpenAI
llm = OpenAI(
    model_name="text-davinci-003",
    openai_api_base="{{project_url}}",
)
llm("Explaining the meaning of life in one sentence")
</code></pre>
  <h4 class="text-xl font-semibold mb-2 mt-3 md:text-2xl">LLM Transactions</h4>
  <div class="overflow-x-auto p-3">
    <table class="table-auto rounded-md shadow-lg w-full">
      <thead class="rounded-md bg-[#EEE] text-[#565656]">
        <tr class="rounded-md">
          <th>Timestamp</th>
          <th>Request url</th>
          <th>Prompt</th>
          <th>Response</th>
          <th>Model</th>
          <th>Content Type</th>
          <th>Response status</th>
          <th>Usage</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        {% if transactions %}
        {% for t in transactions %}
        <tr>
          <td>{{t.timestamp}}</td>
          <td>{{t.request.url}}</td>
          <td>
            {% if 'messages' in t.request.content %}
            {% for m in t.request.content.messages %}
            <p title="{{m.role}}">{{m.content}}</p>{% endfor %}
            {% else %}
            {% for p in t.request.content.prompt %}
            <p title="prompt_{{loop.index}}">{{p}}</p>{% endfor %}
            {% endif %}
          </td>
          <td>
            {% for c in t.response.content.choices %}
            {% if 'message' in c %}
            <p title="{{c.message.role}}">{{c.message.content}}</p>{% else %}
            <p title="response_{{c.index}}">{{c.text}}</p>{% endif %}
            {% endfor %}
          </td>
          <td>{{t.response.content.model}}</td>
          <td>{{t.response.headers['content-type']}}</td>
          <td>{{t.response.status_code}}</td>
          <td>{{t.response.content.usage.prompt_tokens}} + {{t.response.content.usage.completion_tokens}}</td>
          <td><a href="/ui/project/{{project.id}}/transaction/{{t.id}}">Details</a></td>
        </tr>{% endfor %}
        {% else %}
        <tr>
          <td class="p-5" colspan="8"> No data </td>
        </tr>{% endif %}
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>{% endblock %}