.projectForm
    &__add, &__update
        width: 100%
        padding:  20px 50px
        max-width: 800px
        display: flex
        flex-direction: column
        gap: 40px
        a
            text-decoration: underline
        h1
            font-size: 2.2em
            line-height: 1.3em
        h2
            font-size: 1.3em
            line-height: 1em
        .box
            background: #FFF
            padding: 15px
            border-radius: 15px
            box-shadow: -2px 5px 7px 0px rgba(0, 0, 0, 0.1)
        .double-inputs
            display: flex
            flex-direction: row
            gap: 10px
            *
                flex: 1 1 0%
        .forms
            display: flex
            flex-direction: column
            gap: 25px
            flex-wrap: wrap
            .form-floating
                input, textarea, select
                    border: none
                    border-radius: 0
                    box-shadow: none !important
                    border-bottom: 1px solid var(--bs-gray-300)
                    &.is-invalid
                        border-color: var(--bs-red)
                    &:disabled
                        background: #FFF
                        &~ label::after
                            background: #FFF
                .invalid-feedback
                    display: block !important
                    min-height: 1.43em !important
            &> div
                min-width: 300px
                flex: 1 1 0%
            .project-form
                .header
                    margin: 10px 0
                form
                    display: flex
                    flex-direction: column
                    gap: 0px
                h3
                    padding-top: 20px
                    margin-bottom: 10px
            .providers-form
                display: flex
                flex-direction: column
                gap: 10px
                .header
                    display: flex
                    flex-direction: column
                    gap: 10px
                .accordion
                    display: flex
                    flex-direction: column
                    gap: 10px
                    &-header button
                        border-radius: 15px
                    &-item
                        padding: 0
                        border: none
                        .box
                            box-shadow: none
                    &-button
                        padding: 10px 15px
                        box-shadow: none
                    *
                        line-height: 20px
                    .options
                        display: flex
                        gap: 10px
                        margin-top: 10px
                        *
                            flex: 1
                    .content
                        display: flex
                        flex-direction: row
                        gap: min(100%, 50px)
                        .title
                            width: 40%
                            min-width: 20px
                            font-weight: bold
                form
                    display: flex
                    flex-direction: column
                    gap: 0px
                    .generated-link
                        color: var(--bs-gray-700)
                        cursor: text
                    .no-providers-error
                        color: var(--bs-red)
                        font-weight: bold
                    &.error
                        background: #ffdcdc
                        border-color: var(--bs-red)
                .add-another-provider
                    width: 100%