--- # Only the main Sass file needs front matter (the dashes are enough) search: false --- @charset "utf-8";


$primary-color: #1F504E !default;

.page__title {
    font-weight: 400;
}

// .greedy-nav a {

//     color: #0B1D1C;

// }

.masthead {
    background-color: $primary-color;
}

.greedy-nav {
    background-color: $primary-color;
}

.greedy-nav a {
    color: white;
}


.layout--splash .masthead {
    background-color: white;
}

.layout--splash .masthead .greedy-nav {
    background-color: white;
}

.layout--splash .greedy-nav a {
    color: $primary-color;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


