---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


$primary-color: #1F504E !default;

.page__title {
    font-weight: 400;
}

.masthead {
    background-color: $primary-color;
}

.greedy-nav a{ 
    color: white; /* #0B1D1C */
}


.splash .masthead {
    background-color: white;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

