--- # Only the main Sass file needs front matter (the dashes are enough) search: false --- @charset "utf-8";


$primary-color: #1F504E !default;
$info-color: #307C78 !default;

.page__title {
    font-weight: 400;
}




.layout--single .masthead {
    background-color: $primary-color;
}

.layout--single .masthead .greedy-nav {
    background-color: $primary-color;
}

.layout--single .masthead .greedy-nav a {
    color: white;
}

.layout--splash .masthead {
    background-color: white;
}

.layout--splash .masthead .greedy-nav {
    background-color: white;
}

.layout--splash .masthead .greedy-nav a {
    color: $primary-color;
}



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials