div
    button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#addProjectModal') New Project +

    #addProjectModal.modal.fade(tabindex='-1' aria-labelledby='addProjectModalLabel' aria-hidden='true')
        form(method='post' action='/api/project')
            .modal-dialog
                .modal-content
                    .modal-header
                        h1#addProjectModalLabel.modal-title.fs-5 New Project
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .input-group.mb-3
                            span.input-group-text Name
                            input.form-control(type='text' name='name' required)
                        .input-group.mb-3
                            span.input-group-text Slug
                            input.form-control(type='text' name='slug' required)
                        .input-group.mb-3
                            span.input-group-text Description
                            textarea.form-control#description(name='description' rows='4' cols='50' maxlength='280' required)
                        .input-group.mb-3 
                            span.input-group-text API Base URL
                            input.form-control(type='url' name='api_base' placeholder='https://api.openai.com/v1' required)                      
                        .input-group.mb-3 
                            span.input-group-text Provider name
                            select.form-select#provider_name(name='provider_name')
                                //- | {% for pn in provider_names %}
                                - let provider_names = ["OpenAI", "Azure OpenAI", "Google Palm", "Anthropic Cloud", "Meta LLama", "HuggingFace", "Custom"]
                                each val in provider_names
                                    option(value = val) #{val}
                                //- option(value='{{pn}}') {{pn}}
                                //- | {% endfor %}
                        .input-group.mb-3 
                            span.input-group-text Model name
                            input.form-control(type='text' name='model_name' required='')
                        .input-group.mb-3
                            span.input-group-text Tags
                            textarea.form-control#tags(name='tags' rows='4' cols='50' required='')
                        .input-group.mb-3 
                            span.input-group-text Organization
                            input.form-control(type='text' name='org_id')
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Create
